body {
    font-family: 'Merriweather', serif;
    line-height: 2;
    margin:0px;
    text-align:center;
}

div {
    background-color: #d9e5eb;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 50px auto 0px auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
}

.top-container {
    position:relative;
    padding:100px;
}

.middle-container {

}

.bottom-container {

}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    bottom: 400px;
    left: 300px;
    position: absolute;
}

